{include file="public/head,public/nav"}
<body>
    <div class="page-body">
        <div class="filter-bg">
            <div class="filter-wrap">
                <div class="w-filter-ab-test">
                    <div class="w-filter-top-nav clearfix" style="margin:12px">
                    </div>
                    <div class="filter-wrapper">
                        <div class="normal-filter ">
                            <div class="w-filter-normal-ab  filter-list-ab">
                                <h5 class="filter-label-ab">分类</h5>
                                <span class="filter-all-ab">
                                    <a class="w-filter-item-ab  item-all-auto-ab" href="{:url('lists/index',['id'=>0])}"><span class="item-content {if $checkid==0}filter-active-all-ab{/if}" >全部</span></a>
                                </span>
                                <div class="j-filter-items-wrap-ab filter-items-wrap-ab">
                                    <div class="j-filter-items-ab filter-items-ab filter-content-ab">
                                        {volist name="listcate" id = "lc"}
                                        <a class="w-filter-item-ab" href="{:url('lists/index',['id'=>$lc->id])}"><span class="item-content {if $checkid==$lc->id}filter-active-all-ab{/if}" >{$lc->name}</span></a>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     {if $listchild}
                    <div class="filter-wrapper">
                        <div class="normal-filter ">
                            <div class="w-filter-normal-ab  filter-list-ab">
                                <h5 class="filter-label-ab">子分类</h5>
                                <span class="filter-all-ab">
                                    
                                </span>
                                <div class="j-filter-items-wrap-ab filter-items-wrap-ab">
                                    <div class="j-filter-items-ab filter-items-ab filter-content-ab">
                                        {volist name="listchild" id = "lc"}
                                        <a class="w-filter-item-ab" href="{:url('lists/index',['id'=>$lc->id])}"><span class="item-content  {if $childcheck==$lc->id}filter-active-all-ab{/if}" >{$lc->name}</span></a>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
                <div class="w-sort-bar">
                    <div class="bar-area" style="position: relative; left: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; top: 0px;">
                        <span class="sort-area">
                            <a class="sort-default {if $orderflag==''}sort-default-active{/if}" href="{:url('lists/index',['id'=>$checkid])}">默认</a>
                            <a class="sort-item sort-down {if $orderflag=='order_sales'}sort-default-active{/if}" title="点击按销量降序排序" href="{:url('lists/index',['id'=>$checkid,'order_sales'=>1])}">销量↓</a>
                            <a class="sort-item price-default price {if $orderflag=='order_price'}sort-default-active{/if}" title="点击按价格降序排序" href="{:url('lists/index',['id'=>$checkid,'order_price'=>1])}">价格↓</a>
                            <a class="sort-item sort-up {if $orderflag=='order_time'}sort-default-active{/if}" title="发布时间由近到远" href="{:url('lists/index',['id'=>$checkid,'order_time'=>1])}">最新发布↑</a>
                        </span>
                        
                    </div>
                </div>
                <ul class="itemlist eight-row-height">
                   {if $deals}
                            {volist name="deals" id="lo"}
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                {安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑}
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="{$lo->image}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="{:url('detail/index',['id'=>$lo->id])}" target="_blank">
                                        <div class="header">
                                            <h4 class="title">{$lo->name}</h4>
                                        </div>
                                        <p>【{$lo->location_ids|countLocation}店通用】</p>
                                    </a>
                                    <div class="add-info"></div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>{$lo->current_price}</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>{$lo->origin_price}</span></span></span>
                                    </div>
                                    <div class="footer">
                                         <span class="sold">已售{$lo->buy_count}</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            {/volist}
                            {else /}
                            <span style="color: red;font-size:24px">当前城市此栏目暂无商品哦</span>
                            {/if}
                </ul>
            </div>
        </div>
        {:pagination($deals)}
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>
    <script>
        $(".tab-item-wrap").click(function(){
            var index = $(".tab-item-wrap").index(this);
            $(".tab-item-wrap").removeClass("selected");
            $(".district-cont-wrap").css({display: "none"});
            $(this).addClass("selected");
            $(".district-cont-wrap").eq(index).css({display: "block"});
        });

        $(".sort-area a").click(function(){
            $(".sort-area a").removeClass("sort-default-active").css({color: "#666"});
            $(this).addClass("sort-default-active").css({color: "#ff4883"});
        });
    </script>
</body>
</html>